<div class="main-window-container"> 
  <div class="theme-container">
    <h1>Cyberphysische Systeme</h1>
  </div>
    <div class="quest-container">
        <div class="quest-style-container"></div>
    </div>
      <div class="answers-container"> 

        <div class="answerfields"> 
            <div class="answers">
                <div class="answers-inner answers-one"></div>
                </div> 
            <div class="answers">
                <div class="answers-inner answers-two"></div> 
                </div>
        </div>

        <div class="answerfields"> 
            <div class="answers">
                <div class="answers-inner answers-three"></div>
                </div>
            <div class="answers">
                <div class="answers-inner answers-four"></div>
                </div>  
        </div>


         </div>       
      </div>




    @code {

    }